{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% endblock %}

{% block scripts %}
<script>
    //this is a javascript script (code) here which belongs between the block scripts 

    //this is how we get the 'sent' variable from pages back
    var group_assignment = {{ group_assignment }};

    //depending on in which group a player was we want to display a custom message
    //we need to first get the elements we want to show
    var div_group0 = document.getElementById('group0');
    var div_group1 = document.getElementById('group1');

    //we can do this with a javascript function:
    if (group_assignment == 0) {
        div_group0.style.display = "block";
    }
    if (group_assignment == 1) {
        div_group1.style.display = "block";
    }

    // if(condition){
    //     what happens when condition is met
    // }
</script>

{% endblock %}

{% block content %}
<br>
<h2>End of Survey</h2>

<br>
<h3> Homework 2 </h3>
<hr>
    <h4>This is the end of the survey!</h4>

    Thank you for bringing science forward by answering these questions. <br>
    You can now close this window and go to the Seezeit-webpage to leave some feedback if you like! <br>

<br>
<div id="group0" style="display: none">You were part of group 0!
</div>
<div id="group1" style="display: none">You were part of group 1!</div>


{% endblock %}